*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.wrapper{
	width: 100%;
	height: 100%;
	/*border:1px solid black;*/
	margin: 0 auto;
}
.wrapper .topNav{
	width: 100%;
	height: 30px;
	background-color: #eee;
}
.wrapper .topNav .bar{
	width: 1000px;
	height: 30px;
	background-color: #eee;
	/*border: 1px solid black;*/
	margin: 0 auto;
	line-height: 30px;
	font-size: 14px;
	color: #303030;
}
.wrapper .topNav .left{
	float: left;
}
.wrapper .topNav .left li{
	float: left;
}
.wrapper .topNav .right{
	float: right;
}
.wrapper .topNav .right li{
	float: left;
}
.wrapper .topNav .right li .phoneNum{
	color: #f36c28;
	cursor: pointer;
}
.wrapper .topNav .right li .fastGo{
	color: #f36c28;
	cursor: pointer;
}
.wrapper .topNav li .shuxian{
	margin: 0 10px;
	color: #ccc;
}
.wrapper .topNav .left li .logoxiao{
	display: inline-block;
	height: 16px;
	width: 45px;
	vertical-align: middle;
	background-image: url('../img/titlexiao.png');
	background-size: 100% 100%;
}
.wrapper .topNav .left li .locaImg{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-image: url('../img/location.png');
	background-size: 100% 100%;
}
.wrapper .secNav{
	width: 100%;
	margin:0 auto;
	height: 100%;
	/*border: 1px solid black;*/
}
.wrapper .secNav .secBar{
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
.wrapper .secNav .secBar .logoT{
	position: absolute;
	z-index: 10;
	display: inline-block;
	background-image: url('../img/titleda.png');
	height: 50px;
	vertical-align: middle;
	width: 240px;
	background-size: 100% 100%;
	margin-top: 16px;
}
.wrapper .secNav .secBar ul{
	float: right;
}
.wrapper .secNav .secBar ul li{
	float: left;
	height: 80px;
	line-height: 80px;
	margin-left: 66px;
	cursor: pointer;
}
.wrapper .secNav .secBar ul li.active{
	color: #f36c28;
}
.wrapper .secNav .secBar #active{
	position: relative;
	left:-460px;
	display: inline-block;
	width: 40px;
	height: 60px;
	border-bottom: 4px solid #f36c28;
}
.wrapper .enterWrap #swiper{
	width: 100%;
	height: 320px;
	/*border: 1px solid #000;*/
}
.wrapper .enterWrap .enter{
	position: relative;
	z-index: 20;
	width: 1000px;
	margin: 0 auto;
}
.wrapper .enterWrap .input{
	position: absolute;
	width: 240px;
	height: 260px;
	/*border: 1px solid black;*/
	right: 0px;
	top: 30px;
	background-color: #fff;
	border-radius: 4px;
}
.wrapper .enterWrap .input div{
	margin-left: 10px;
	margin-top: 8px;
}
.wrapper .enterWrap .input span{
	font-size: 14px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	/*margin-top: -2px;*/
}
.wrapper .enterWrap .input .congra span{
	font-size: 16px;
}
.wrapper .enterWrap .input .congra{
	font-size: 16px;
	margin-left: 20px;
}
.wrapper .enterWrap .input .congra .conNum{
	color: #f36c28;
	font-size: 18px;
}

.wrapper .enterWrap .input input{
	width: 80px;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	border: none;
	outline: none;
	text-indent: 2px;
	padding: 2px 1px;
	margin-top: 5px;
	background-color: #eee;
}
.wrapper .enterWrap .input .phone,
.wrapper .enterWrap .input .codeImg,
.wrapper .enterWrap .input .code,
.wrapper .enterWrap .input .inputCode{
	display: inline-block;
	margin-top: 10px;
	background-color: #eee;
	border-radius: 5px;
	width: 220px;
}
.wrapper .enterWrap .input .phone input{
	width: 130px;
}
.wrapper .enterWrap .input .codeImg input{
	margin-left: 30px;
}
.wrapper .enterWrap .input .code input{
	margin-left: 16px;
	width: 85px;
}
.wrapper .enterWrap .input .inputCode{
	height: 27px;
	width: 125px;
}
.wrapper .enterWrap .input .inputCode input{
	margin-left:10px; 
	width: 85px;
}
.wrapper .enterWrap .input .getCode{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 80px;
	background-color: #377bee;
	border-radius: 5px;
	text-align:center;
}
.enterWrap .input .code input{
	width: 80px;
	margin-left: 9px;
	background-color: #eee;
}
.wrapper .enterWrap .input .word{
	display: inline-block;
	margin-left:5px;
		
}
.wrapper .enterWrap .input .request{
	display: inline-block;
	width: 220px;
	height: 27px;
	background-color: #f36c28;
	border-radius: 3px;
	text-align: center;
	line-height: 27px;
	margin-top: 18px;
}
.wrapper .content{
	width: 1000px;
	margin: 0 auto;
}
.wrapper .content .contentBar{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
.wrapper .content .topCont{
	width: 100%;
	height: 250px;
	/*border: 1px solid black;*/
}
.wrapper .content .topCont li{
	float: left;
	width: 220px;
	height: 200px;
	background-color: #eee;
	margin-left: 24px;
	margin-top: 30px;
	cursor: pointer;
}
.wrapper .content .topCont li .iconImg{
	display: inline-block;
	background-size: 100% 100%;
	height: 70px;
	width: 80px;
	margin:15px 0px 0px 70px;
}
.wrapper .content .topCont li .jrImg1{
	background-image: url('../img/jingrong1.png');
}
.wrapper .content .topCont li .jrImg2{
	background-image: url('../img/jingrong2.png');
}
.wrapper .content .topCont li .jrImg3{
	background-image: url('../img/jingrong3.png');
}
.wrapper .content .topCont li .jrImg4{
	background-image: url('../img/jingrong4.png');
}
.wrapper .content .topCont li h3{
	display: inline-block;
	width: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
}
.wrapper .content .topCont li .activeB{
	display: block;
	width: 60px;
	height: 5px;
	background-color: #ddd;
	border-radius: 3px;
	margin-left: 80px;
	margin-top: 10px;
}
.wrapper .content .topCont li .orangeAc{
		background-color: #FF6C00;
}
.wrapper .content .topCont li .word3{
	display: inline-block;
	color: #aaa;
	font-size: 14px;
	text-align: center;
	width: 220px;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}


.wrapper .content .midCont{
	width: 100%;
	height: 30px;px;
	display: inline-block;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}
.wrapper .content .midCont i{
	display: inline-block;
	width: 60px;
	height: 2px;
	background-color:#bbb; 
}
.wrapper .content .midCont span{
	margin: 0px 10px;
}
.wrapper .content .botCont{
	width: 670px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.wrapper .content .lastUl li,
.wrapper .content .botCont li{
	float: left;
}
.wrapper .content .botCont li .botImg{
	width: 60px;
	height: 60px;
	display: inline-block;
	background-size: 100% 100%;
	margin-right: 10px;
}
.wrapper .content .botCont li .bcImg1{
	background-image: url('../img/ding1.png');
}
.wrapper .content .botCont li .bcImg2{
	background-image: url('../img/ding2.png');
}
.wrapper .content .botCont li .bcImg3{
	background-image: url('../img/ding3.png');
}
.wrapper .content .botCont li .bcImg4{
	background-image: url('../img/ding4.png');
}
.wrapper .content .botCont li .henxian{
	display: inline-block;
	height: 2px;
	width: 120px;
	background-color: #CF0505;
	vertical-align: -13px;
	margin-right: 10px;

}
.wrapper .content .lastUl{
	width: 855px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 120px;
}
.wrapper .content .lastUl li{
	margin-left: 50px;
}



.wrapper .final{
	width: 100%;
	height: 180px;
	background-color: #ececec;
}
.wrapper .final .finalWrap{
	width: 1000px;
	height: 100%;
	/*border: 1px solid black;*/
	margin: 0 auto;
	position: relative;
}
.wrapper .final .finalWrap .finLeft{
	display: inline-block;
	height: 100%;
	width: 220px;
	margin: auto 0;
}
.wrapper .final .finalWrap .finLeft h4{
	display: inline-block;
	width: 70px;
	height: 50px;
	line-height: 50px;
	border-bottom: 4px solid #f0bc28;
	text-align: center;
	margin-top: 10px;
}
.wrapper .final .finalWrap .finLeft h1{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #f0bc28;
	margin-top: 10px;
}
.wrapper .final .finalWrap .finLeft .sev24{
	display: inline-block;
	width: 120px;
	height: 25px;
	line-height:25px; 
	background-color: #ff5151;
	border-radius: 3px;
	color: #fff;
	margin-top: 6px;
	text-align: center;
}
.wrapper .final .finalWrap .finMiddle{
	position: absolute;
	display: inline-block;
	width: 540px;
	height: 180px;
	/*border: 1px solid black;*/
	overflow: hidden;
	padding-left: 10px;
}

.wrapper .final .finalWrap .finMiddle .midNav{
	display: inline-block;
	border-bottom: 1px solid #aaa;
	width: 600px;
	height: 40px;
	margin-top: 20px;
}
.wrapper .final .finalWrap .finMiddle .midNav .logoxiao{
	display: inline-block;
	height: 20px;
	width: 45px;
	vertical-align: middle;
	background-image: url('../img/titlexiao.png');
	background-size: 100% 100%;
	
}
.wrapper .final .finalWrap .finMiddle .midNav .about{
	width: 33px;
}
.wrapper .final .finMiddle .midNav li{
	float: left;
	width: 120px;
	height: 30px;
}
.wrapper .final .finMiddle .midNav li h4{
	height: 30px;
	width: 120px;
	display: inline-block;
	line-height: 30px;
	/*text-align: center;*/
}
.wrapper .final .finMiddle .midBottom{
	/*border: 1px solid black;*/
	width:600px;;
	height: 95px;
}
.wrapper .final .finMiddle .midBottom .midL,
.wrapper .final .finMiddle .midBottom .midR{
	float: left;
	margin-top: 30px;
}
.wrapper .final .finMiddle .midBottom .midL li,
.wrapper .final .finMiddle .midBottom .midR li{
	margin-top: 10px;
}
.wrapper .final .finMiddle .midBottom .midL{
	width: 300px;
	height: 95px;
	display: inline-block;
}
.wrapper .final .finRight{
	display: inline-block;
	width: 1000px;
	height: 180px;
	/*border: 1px solid black;*/
	position: absolute;
	left:0;
}
.wrapper .final .focus{
    background-image: url(../img/erweima.png);
    background-size: 100% 100%;
    width: 110px;
    height: 130px;
    position: absolute;
    right: 80px;
    top: 25px;
}
.anchor{
	position: fixed;
	width: 55px;
	height: 264px;
	right: 0;
	top: 35%;
	box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px 0px 0px 5px;
	background-color: #fff;
}
.anchor .anc{
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 65px;
	border-bottom: 1px solid #ccc;
}
.anchor .anc a{
	display: inline-block;
	color:#000;
	font-size: 12px;
	text-indent: 1px;
}
.anchor .anc div{
	width: 50px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
}
.anchor .anc .ancImg1{
	background-image: url('../img/anchor.png');
	background-position: 0px -44px;
}
.anchor .anc .ancImg2{
	background-image: url('../img/anchor.png');
	background-position: 0px -90px;
}
.anchor .anc .ancImg3{
	background-image: url('../img/anchor.png');
	background-position: 0px -174px;
}
.anchor .anc .ancImg4{
	background-image: url('../img/anchor.png');
	background-position: 0px 215px;
}
.anchor .hov{
	position: relative;
}
.anchor .hov .hover{
	width: 110px;
    height: 130px;
    position: absolute;
    right: 55px;
    top: -20px;
    background-image: url('../img/erweima.png');
    background-size: 100% 100%;
	display: none;
}